*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    background: #191919;
    font-family: sans-serif;
}

.top{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}

.link-group{
    list-style: none;
    display: flex;
}

.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover, .link.active a{
    opacity: 1;
}

/* Home Section */

.home-section.active,
.category-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

.home-section {
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed;    

}

.home-heading {
    color: #fff;
    font-size: 110px;
    text-transform: capitalize;
    font-weight: 300;
    padding-right: 2vh;
}

.home-img {
    height: 100vh;
    width: 50%;    
    object-fit: cover;
}

/* Category Section */
.category-section {
    padding: 100px 100px 0px;
    width: 100%;
    min-height: 100vh;
    top: 0;
    transition: 1s;
    position: fixed;
    opacity: 0;
}

.category-heading {
    font-size: 100px;
    background: #252525;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;   

}

.categorey-container-1 {
    margin-left: -200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 270px;
    padding-bottom: 290px;
}

.categorey-container-2 {
    margin-left: -200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 180px;
}

.categorey-container-3 {
    margin-left: -240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 190px;
    padding-bottom: 290px;
}

.categorey-container-5 {
    margin-left: -220px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 250px;
    padding-bottom: 290px;
}
.categorey-container-4 {
    margin-left: -160px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 250px;
    padding-bottom: 350px;
}

.category-card {
    height: 400px;
    position: relative;
}

.category-img {
    height: 180%;
    object-fit: cover; 
    padding-bottom: 100px;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.5s;
}

.category-content {
    position: relative;
    margin-top: -400px;
    margin-left: -650px;
    padding: 10px;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

.category-title {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    margin-left: 450px;
}

.ca {
    margin-left: 570px;
}
.nr {
    margin-left: 570px;
}
.ds {
    margin-left: 570px;
}
.sm {
    margin-left: 650px;
}
.Thor {
    margin-left: 730px;
}
.am {
    margin-left: 680px;
}
.am-card {
    margin: 100px;
    margin-top: 10px;
}
.cm {
    margin-left: 600px;
}
.hulk {
    margin-left: 680px;
}
.w {
    margin-left: 680px;
}
.bp {
    margin-top: 100px;
    margin-left: 650px;
}
.iam {
    margin-top: 100px;
    margin-left: 650px;
}
.v {
    margin-top: 100px;
    margin-left: 650px;
}
.r-img {
    height: 200%;
}
.r {
    margin-left: 590px;
}
.sl-img {
    height: 200%;
}
.sl {
    margin-left: 650px;
}
.g-img {
    height: 210%;
}
.g {
    margin-left: 650px;
    margin-top: -40px;
}
.category-card:hover .category-img{
    -webkit-filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.573));
    filter: drop-shadow(-7px 10px 10px rgba(255, 255, 255, 0.581));
}

.category-card:hover .category-content {
    opacity: 1;
}

/* Selection Section */
.view-section {
    padding: 120px 10px 0px;
    margin: -100px;
}

.cover {
    width: 100%;
    display: flex;
    position: relative;
}

.cover::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
    height: 94%;
    width: 200px;
    background-image: linear-gradient(90deg, black, transparent);
}
.cover::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 1;
    height: 94%;
    width: 200px;
    background-image: linear-gradient(-90deg, black, transparent);
}

.scroll-images {
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-2 {
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-3 {
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.showcase-box {
    min-width: 430px;
    height: 250px;
    border-radius: 10px;
    margin: 1px 20px 1px 20px;   
    overflow: hidden;
}

.scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
}
.scroll-images-2::-webkit-scrollbar {
    -webkit-appearance: none;
}
.scroll-images-3::-webkit-scrollbar {
    -webkit-appearance: none;
}
.showcase-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.showcase-box:hover {
    box-shadow: 1px 2px 40px rgba(255, 255, 255, 0.3);
}

.showcase-heading {
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 1000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}
.main-scroll-div {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.icon {
    color: rgba(255, 255, 255, 0.481);
    background-color: rgba(0, 0, 0, 0);
    font-size: 50px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
}
.icon:hover {
    color: rgba(255, 255, 255, 0.816);
}

/* Bigger view */
.container {
    margin-top: 300px;
    padding: 100px;
    width: 100%;
}

.swiper {
    width: 100%;
    height: fit-content;
}

.swiper-slide img {
    width: 100%;
    align-items: center;
    justify-items: center;
    height: 700px;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color:#fff;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}


/* last */
.footer {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    color: #fff;
    justify-content: space-between;
}

.social {
    display: flex;
    margin-left: 590px;
    column-gap: 0.5rem;
}

.social .fa-brands {
    background: var(--bg-color);
    padding: 20px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid #1919194b;
    color: rgba(255, 255, 255, 0.526);
}

.social .fa-brands:hover{
    background: #1919194f;
    color: #fff;
    transition: 0.2s all linear;
}

.last-link {
    display: flex;
    width: 560px;
    height: 70px;
    margin: auto;
}